/* GLOBAL */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Crimson Text", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  background: #f9f9f9;
  color: black;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.25em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.125em;
  font-weight: 600;
}

strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

/* HEADER */

header {
  padding: 1em 0;
}

header a {
  text-decoration: none;
  color: black;
}

/* CONTENT */

#container {
  padding: 0 0.5em;
}

main {
  margin: 0 auto;
}

main p {
  padding-bottom: 1em;
}

hr {
  border: 0;
  height: 1px;
  margin: auto 1em;
  border-bottom: 2px dashed #999;
  padding-top: 5px;
}

ul {
  padding-bottom: 1em;
}

li {
  padding-bottom: 0.5em;
}

.no-bullet li {
  padding-left: 0;
  text-indent: 0;
}

.fleur-bullet li, .star-bullet li, .fancy-bullet li {
  padding-left: 2.25em;
  text-indent: -2.25em;
}

li:before {
  content: '•';
  padding-right: 0.5em;
}

.no-bullet li:before {
  content: '';
  padding-right: 0;
}

.four-point-star-bullet li:before {
  content: '✧';
  padding-right: 0.5em;
}

.six-point-star-bullet li:before {
  content: '✶';
  padding-right: 0.5em;
}

.arrowhead-bullet li:before {
  content: '➤';
  padding-right: 0.5em;
}

@media only screen and (min-width: 600px) {
  html, body, #container {
    height: 100%;
    min-height: 100vh;
  }

  #container {
    padding: 0 1em;
    max-width: 900px;
    margin: 0 auto;
  }

  ul {
    margin-left: 1em;
  }
}

@media only screen and (min-width: 900px) {
  #container {
    border-left: 2px dashed #999;
  }
}